<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="../js/vue.js"></script>
</head>
<body>
    <!-- 准备一个容器 -->
    <div id="root">
    姓:<input v-model='lastname' ></input>
    <br><br>
    名:<input v-model='name' ></input>
    <div>
        <span>全名: {{gitFullName()}}</span>
    </div>
    </div>
    <script>
        new Vue({
            el:'#root',
            data:{
                lastname:'张',
                name:'三'
            },
            methods: {
                gitFullName(){
                    return this.lastname + '-' + this.name
                }
            },
        })
    </script>
</body>
</html>