<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>姓名案例_watch实现</title>
  <script src="../js/vue.js"></script>
</head>
<body>
  <div id="root">
    姓: <input type="text" v-model='lastName'>
    <br><br>
    名: <input type="text" v-model='name'>
    <br><br>
    <span>全名:{{fullName}}</span>
  </div>
  <script>
    new Vue({
      el:'#root',
      data:{
        lastName:'张',
        name:'三',
        fullName:''
      },
      watch:{
        /*
          1.watch中的lastName什么时候调用？data中的lastName被改变时调用
          2.watch中的lastName的this是谁？ ---vm
        */
        // 检测姓---精简写法
        // lastName(newValue,oldValue){
        //   console.log("lastName被修改,newValue,oldValue");
        //   this.fullName = newValue+ '-' +this.name
        // },

        // 检测姓---完整写法
        lastName:{
          immediate:true,//immediate为true则handler在初始化时，就会调用一次，之后就看lastName的改变
          handler(newValue,oldValue){
            this.fullName = newValue + '-' + this.name
          }
        },
        // 监视名---精简写法
          name(newValue,oldValue){
            this.fullName = this.lastName + '-' +this.name
          
        }
      }
    })
  </script>
</body>
</html>