<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>基本列表渲染</title>
  <script src="../js/vue.js"></script>
</head>
<body>
  <!-- 
    总结：
      v-for指令：
        1.用于展现列表数据
        2.语法：v-for="(item,index) in arr" :key="item.id"
        3.可遍历对象：数组、对象、字符串
   -->
  <div id="root">
    <h2>人员列表</h2>
  <ul>
    <!-- 使用v-for遍历数组 -->
    <li v-for='(p,index) in persons' :key='p.id'>
      {{p.name}}---{{p.sex}}---{{p.age}}
    </li>
  </ul>
  <ul>
    <!-- 使用v-for遍历对象 -->
    <li v-for='(value,key) in car' :key='key'>
      {{value}}
    </li>
  </ul>
  <ul>
    <!-- 使用v-for遍历字符串 -->
    <li v-for='(data,index) in str' :key="index">
      {{data}}---{{index}}
    </li>
  </ul>
  </div>
  <script>
    new Vue({
      el:'#root',
      data:{
        persons:[
          {id:'001',name:'老刘',age:'20',sex:'男'},
          {id:'002',name:'老肖',age:'22',sex:'男'},
          {id:'003',name:'老杨',age:'18',sex:'女'},
          {id:'004',name:'老美',age:'20',sex:'女'}
        ],
        car:{
          name:'奔驰c63',
          price:'60万',
          color:'灰色'
        },
        str:'abcde'

      }
    })
  </script>
</body>
</html>