<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>基本列表渲染</title>
  <script src="../js/vue.js"></script>
</head>
<body>
  <!-- 
    总结：
      v-for指令：
        1.用于展现列表数据
        2.语法：v-for="(item,index) in arr" :key="item.id"
        3.可遍历对象：数组、对象、字符串
   -->
  <div id="root">
    <h2>人员列表</h2>
    <input v-model='keyWord' type="text" placeholder="请输入姓名">
    <button @click="sortType = 1">年龄升序</button>
    <button @click="sortType = 2">年龄降序</button>
    <button @click="sortType = 0">原顺序</button>
  <ul>
    <!-- 使用v-for遍历数组 -->
    <li v-for='(p,index) in fmtPersons' :key='p.id'>
      {{p.name}}---{{p.sex}}---{{p.age}}
    </li>
  </ul>
  </ul>
  </div>
  <script>
    new Vue({
      el:'#root',
      data:{
        keyWord:'',
        sortType:0,
        persons:[
          {id:'001',name:'周杰伦',age:'18',sex:'男'},
          {id:'002',name:'温兆伦',age:'22',sex:'男'},
          {id:'003',name:'马冬梅',age:'18',sex:'女'},
          {id:'004',name:'周冬雨',age:'20',sex:'女'}
        ]
      },
      computed:{
        fmtPersons(){
          const {persons,keyWord,sortType} =this
          // 根据关键字过滤
          let arr = persons.filter( p => p.name.indexOf(keyWord) !== -1)
          // 诺需要排序
          if(sortType){
            // 排序
            arr.sort((a,b)=>{
              if(sortType ===1) return a.age - b.age
              else return b.age - a.age
            })
          }
          return arr
        },
      }
    })
  </script>
</body>
</html>